<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <title>Music Genre Classification</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="container">

<h1>🎵 Music Genre Classification</h1>

<form action="/predict" method="post" enctype="multipart/form-data">

<label for="file-upload" class="custom-file-upload">Choose File</label>

<input id="file-upload" type="file" name="file" accept=".wav" required>

<p id="file-name">No file chosen</p>

<button type="submit">Predict Genre</button>

</form>

{% if genre %}
<div class="result">
Predicted Genre: {{ genre }}
</div>
{% endif %}

</div>
<script>
const fileInput = document.getElementById("file-upload");
const fileName = document.getElementById("file-name");

fileInput.addEventListener("change", function(){
    fileName.textContent = fileInput.files[0].name;
});
</script>

</body>
</html>